body {
  font-size: 14px;
}

/**
 * Colors: Palette
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-indigo-1: #1e90ff;
  --vp-c-indigo-2: #2f97ff;
  --vp-c-indigo-3: #3f9fff;
  --vp-c-indigo-soft: #bfdfff14;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #fcb0f3 30%, #1e90ff);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #fcb0f3 50%, #2f97ff 50%);
  --vp-home-hero-image-filter: blur(62px);
}
